
      <header>
          <h1>Ntalk</h1>
          <h4>Welcome!</h4>
      </header>
      <section>
          <form name="user" action="/login" method="post">
            <input type="hidden" name="_csrf" value="<%- _csrf %>">
            <input type="text" name="user[name]" placeholder="Type your name">
            </br>
            <input type="text" name="user[email]" placeholder="Type your email">
            </br>
            <button type="submit">Entrar</button>
          </form>
      </section>
